body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  
  .top-row {
    display: flex;
    gap: 20px;
  }
  .bottom-row {
    display: flex;
    gap: 20px;
  }

  .visualizer {
    flex: 1;
    height: 200px;
    border: 2px solid #0d0000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s, background-color 0.3s;
  }


  .auto-picture {
    flex: 1;
    height: 200px;
    border: 2px solid #0d0000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s, background-color 0.3s;
  }
  .theme-box {
    flex: 1;
    height: 200px;
    border: 2px solid #0d0000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s, background-color 0.3s;
  }
  
  .sliders {
    flex: 1;  
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

#timeSlider {
    accent-color: #ee5e3d; 
    height: 5px;
  }
  
  #brightnessSlider {
    accent-color: #0721e3; 
    height: 5px;
  }
  
  #autoBrightnessToggle {
    accent-color: #009305;
  }
  

